#rounded {
    border: solid 1px black;
    border-radius: 25px;
    padding: 5px;
    margin: 10px; 
    background-color: transparent;
}

#button {
    border: solid 1px black;
    border-radius: 25px;
    padding: 10px;
    margin: 10px; 
    background-color: #865EB4;
}

#masuk {
    --placeholder-color: black; 
    --placeholder-font-style: italic;
    --placeholder-opacity: 1;
    --color: black;
}

#container {
    margin-left:auto; 
    margin-right: auto; 
    background-color: transparent;
}


    



