<ion-header style="width: 100%;height:75px">
    <div style="background-color: #1f2942;width: 100%;height: 100%;display: flex;flex-direction: row;align-items: center;justify-content: center;">
      <div [ngStyle]="{'width': headerWidth+'px'}" style="display: flex;background-color: transparent;height: 100%;align-items: center;justify-content: center">
        <ion-menu-button style="color:white"></ion-menu-button>
      </div>
      <div [ngStyle]="{'width': sisaHeaderWidth+'px'}" style="display: flex;background-color: transparent;height: 100%;align-items: center;justify-content: flex-start;flex-direction: row">
        <div style="background-color: transparent; width: 25%;height: null">
          <p style="color:white;margin: 0px">Products / Pupuk atau Pestisida</p>
        </div>
        <div style="background-color: transparent; width: 75%;height: null;flex-direction: row;display: flex;align-items: center;justify-content: flex-end;">
          <ion-searchbar placeholder="Search transactions, invoices or help" style="width: 50%;margin-right: 75px;--background:transparent;--cancel-button-color: white;--clear-button-color: white;--color:white;--icon-color:white;--placeholder-color:white"></ion-searchbar>
          <p style="color:white;margin-right: 25px">Artissa</p>
          <img src="./assets/roundpropic.png" style="width: 50px;height: 50px;margin-right: 25px"/>
        </div>
      </div>
    </div>
  </ion-header>
  
  <ion-content style="--background:	#E6EEF0 no-repeat center center / cover;display: flex;">
    <div [ngStyle]="{'height': height+'px'}" style="width: 100%;display:flex;align-items:center;justify-content:space-around;flex-direction:row;background-color: transparent">
      <ion-card style="position: absolute;left:5%;top:10%;;background-color: #1f2942;width: 15%;height: 10%;align-items:center;justify-content: center;flex-direction: column;display: flex;">
        <p style="color: white;font-size:20px;text-align: center">December 2018</p>
      </ion-card>
      <ion-card style="position:absolute;left:10%;top:25%;width: 70%">
        <ion-grid>
            <ion-row style="background-color: #AEB7B2">
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: center" size="1">No</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: center" size="3">Tanggal
                </ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: center" size="3">Nama Barang</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: center" size="2">Jumlah</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: center" size="2">Stok</ion-col>
              </ion-row>
              <ion-row style="background-color: white">
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="1">1</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="3">18 December 2018
                </ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="3">Pupuk Kandang</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="2">200 Kg</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="2">200 Kg</ion-col>
              </ion-row>
              <ion-row style="background-color: white">
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="1">2</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="3">21 December 2018
                </ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="3">NPK</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="2">50 Kg</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="2">100 Kg</ion-col>
              </ion-row>
              <ion-row style="background-color: white">
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="1">3</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="3">22 December 2018
                </ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="3">Pupuk Hayati</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="2">2 Kg</ion-col>
                <ion-col align-self-center style="background-color:transparent;color:#1f2942;text-align: left;font-weight: bold" size="2">4 Kg</ion-col>
              </ion-row>
        </ion-grid>
      </ion-card>
    </div>
  </ion-content>