<ion-header style="width: 100%;height:75px">
    <div style="background-color: #1f2942;width: 100%;height: 100%;display: flex;flex-direction: row;align-items: center;justify-content: center;">
      <div [ngStyle]="{'width': headerWidth+'px'}" style="display: flex;background-color: transparent;height: 100%;align-items: center;justify-content: center">
        <ion-menu-button style="color:white"></ion-menu-button>
      </div>
      <div [ngStyle]="{'width': sisaHeaderWidth+'px'}" style="display: flex;background-color: transparent;height: 100%;align-items: center;justify-content: flex-start;flex-direction: row">
        <div style="background-color: transparent; width: null;height: null">
          <p style="color:white;margin: 0px">Dashboard</p>
        </div>
      </div>
    </div>
  </ion-header>
  
  <ion-content style="--background:	#E6EEF0 no-repeat center center / cover;display: flex;">
    <div [ngStyle]="{'height': height+'px'}" style="width: 100%;display:flex;align-items:center;justify-content:center;flex-direction:column;background-color: transparent">
        <img src="./assets/leaves.png" style="width: 200px;height: 200px;object-fit: fill"/>
        <p style="color:#1f2942;font-style:italic">sorry ... this page is still under construction</p>
    </div>
  </ion-content>